@import "../variables.scss";

.btn-main {
    width: 25rem;
    height: 4rem;
    background-color: $color-base-white;
    color: $color-base-navy;
    border: none;
    border-radius: 1.2rem;
    font-family: $font-regular;
    font-size: $font-size-medium;
    padding: .6rem 5rem;
    transition: all .2s;
    box-shadow: $btn-shadow;

    &:active {
        box-shadow: $btn-active-shadow;
    }
}

.btn-main-dark {
    width: 25rem;
    height: 4rem;
    background-color: $color-base-navy;
    color: $color-base-white;
    border: none;
    border-radius: 1.2rem;
    font-family: $font-regular;
    font-size: $font-size-medium;
    padding: .6rem 5rem;
    transition: all .2s;
    box-shadow: $btn-shadow;

    &:active {
        box-shadow: $btn-active-shadow;
    }
}
