@font-face {
    font-family: 'IRANYekanBold';
    src: url(../Assets/Fonts/IRANYekanBold.ttf) format('truetype');
}
@font-face {
    font-family: 'IRANYekanLight';
    src: url(../Assets/Fonts/IRANYekanLight.ttf) format('truetype');
}
@font-face {
    font-family: 'IRANYekanRegular';
    src: url(../Assets/Fonts/IRANYekanRegular.ttf) format('truetype');
}
