@import "../../style/components/Button.scss";
@import "../../style/components/input.scss";
@import "../../style/variables.scss";


.mapbtn-content {
    display: flex;
    align-items: center;
    &--btn {
        width: 4rem;
        height: 4rem;
        border-radius: 1.2rem;
        border: none;
        background-color: $color-white;
        box-shadow: $base-box-shadow;
        transition: all .2s;
    
        &:active {
            box-shadow: $btn-active-shadow;
        }
    }
    &--text {
        margin-right: 1rem;
    }
    
}