@import "../../style/variables.scss";

.mapContainer {
    width: 100vw;
    height: 100vh;
}

.gps {
    z-index: 10000000000000;
    background-color: $color-base-white;
    border-radius: 50%;
    box-shadow: $base-box-shadow;
    padding: 1rem;
    position: fixed;
    bottom: 4rem;
    right: 2rem;
}

.addressInput {
    z-index: 1000000000000;
    position: fixed;
    top: 7rem;
    right: 3.5rem;
}